<% include ../partials/header %>

	<!-- register -->
	<section class="login">
		<h1 class="animated wow zoomIn text-center py-3" data-wow-delay=".5s">Welcome Back</h1>
		<div class="container">
			<div class="row pt-4 pb-3">
				<div class="col-md-6 mx-auto">
					<form class="animated wow slideInUp" data-wow-delay=".5s" method='post' action='/login'>
						<div class="form-group">
							<label for="username">Username:</label>
							<input type="text" id='username' name='username' class='form-control' class='form-control' placeholder="username" required>
						</div>
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" placeholder="Email" name='email' id='email' class='form-control' pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}" required>
						</div>
						<div class="form-group">
							<label for="password">Password: </label>
							<input type="password" id='password' name='password' id='password' class='form-control' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class='form-control' placeholder="Password" required>
							<small class='mb-0'>Forgot password? <a href='/forgot'>Reset here.</a></small>
						</div>
						<button class="btn btn-primary my-2 d-block">Submit</button>
					</form>
					<p class='mb-0'>Already registered? <a href='/login'>Login here.</a></p>
				</div>

			</div>
			<div class="py-4 animated text-center wow slideInUp" data-wow-delay=".5s">
				<a href="/" class='px-4 py-2 bg-warning'>Go To Home</a>
			</div>

		</div>
	</section>
	<% include ../partials/footer %>
