<% include ../partials/header %>

<!-- register -->
	<div class="register">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Login Here</h3>
			<p class="est animated wow zoomIn" data-wow-delay=".5s">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div class="login-form-grids">
				<form class="animated wow slideInUp" data-wow-delay=".5s" action='/login' method='post'>
					<input type="email" placeholder="Email Address" name='username' required >
					<input type="password" placeholder="Password" name='password' required  >
					<input type="submit" value="Log Me In">
				</form>
				<a href='/register'>First time user? register here</a> <br>
				<a href='/forgot' > Forgot password</a>
			</div>
			<div class="register-home animated wow slideInUp" data-wow-delay=".5s">
				<a href="/">Home</a>
			</div>
		</div>
	</div>
<!-- //register -->
<% include ../partials/footer %>