<% include ../partials/header %>

	<!-- rest password -->
	<section class="forgot">
		<h1 class="animated wow zoomIn text-center py-3" data-wow-delay=".5s">Reset Password</h1>
		<div class="container">
			<div class="row pt-4 pb-3">
				<div class="col-md-6 mx-auto">
					<form class="animated wow slideInUp" data-wow-delay=".5s" method='post' action="/reset/<%= token %>" >
						<div class="form-group">
							<label for="newPassword">New Password:</label>
							<input type="password" id='newPassword' name='newPassword' class='form-control' class='form-control' placeholder="new password" required>
						</div>
						<div class="form-group">
							<label for="confirmPassword">Confirm Password:</label>
							<input type="password" placeholder="Re enter new password" name='confirmNewPassword' class='form-control' id='confirmPassword' required>
						</div>
						<button class="btn btn-primary my-2 d-block">Submit</button>
					</form>
					<p class='mb-0'>Remembered your password? <a href='/login'>Login here.</a></p>
				</div>

			</div>
			<div class="py-4 animated text-center wow slideInUp" data-wow-delay=".5s">
				<a href="/" class='px-4 py-2 bg-warning'>Go To Home</a>
			</div>

		</div>
	</section>

	<!-- //register -->
	<% include ../partials/footer %>
