		<!-- footer -->
		<div class="footer pb-4 text-white">
			<div class="container">
				<div class="row">
					<div class="col-md-4  animated wow slideInLeft" data-wow-delay=".5s">
						<h3>About Us</h3>
						<p>we are small group, making big differences.<span>You will see it soon.</span></p>
					</div>
					<div class="col-md-4  animated wow slideInLeft" data-wow-delay=".6s">
						<h3>Contact Info</h3>
						<ul>
							<li><i class="fas fa-map-marker-alt fa-2x p-2" aria-hidden="true"></i> Alpha plaza, Civil lines <span>Jaipur.</span></li>
							<li><i class="fas fa-2x fa-envelope p-2" aria-hidden="true"></i><a href="mailto:spargen.official@gmail.com">spargen.official@gmail.com</a></li>
							<li><i class="fas fa-2x fa-phone p-2" aria-hidden="true"></i>+91 8890232339</li>
						</ul>
					</div>
					<!--<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">-->
					<!--	<h3>Flickr Posts</h3>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/13.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/14.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/15.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/16.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/13.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/14.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/15.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/16.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/13.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/14.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/15.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="footer-grid-left">-->
					<!--		<a href="single.html"><img src="/images/16.jpg" alt=" " class="img-responsive" /></a>-->
					<!--	</div>-->
					<!--	<div class="clearfix"> </div>-->
					<!--</div>-->
					<div class="col-md-4  animated wow slideInLeft" data-wow-delay=".7s">
						<h3>Blogs</h3>
						<div class="footer-grid-sub-grids">
							<div class="footer-grid-sub-grid-left">
								<a href="/single"><img src="/images/9.jpg" alt=" " style='width: 100px; height: 75px' class="img-responsive" /></a>
							</div>
							<div class="footer-grid-sub-grid-right">
								<h4><a href="/single">culpa qui officia deserunt</a></h4>
								<p>Posted On 25/3/2016</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="footer-grid-sub-grids">
							<div class="footer-grid-sub-grid-left">
								<a href="/single"><img src="/images/10.jpg" alt=" " style='width: 100px; height: 75px' class="img-responsive" /></a>
							</div>
							<div class="footer-grid-sub-grid-right">
								<h4><a href="/single">Quis autem vel eum iure</a></h4>
								<p>Posted On 25/3/2016</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="footer-logo animated wow slideInRight" data-wow-delay=".5s">
					<h2><a href="/">SparGen <span>Best Deals</span></a></h2>
				</div>
			</div>
		</div>
		<!-- //footer -->
	
	</body>
</html>