<!DOCTYPE html>
<html>
<head>
<title>Spargen- spark for the generation</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="add our site keywords " />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/style.css" rel="stylesheet" media="all" />
<link href='/images/spargen-logo.jpg' rel='icon'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- js -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/js/script.js"></script>

<!-- //js -->
<!-- cart -->
<script src="/js/simpleCart.min.js"></script>
<!-- cart -->
<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- timer -->
<link rel="stylesheet" href="/css/jquery.countdown.css" />
<!-- //timer -->
<!-- animation-effect -->
<link href="/css/animate.min.css" rel="stylesheet"> 
<script src="/js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
</head>
	
<body>
	<div class='container' style='margin-bottom: 0;'>
		<% if(error && error.length > 0){ %>
			<div class='alert alert-danger' style='margin-bottom: 0;' role='alert'> <%- error %></div>
		<% } %>
		<% if(success && success.length > 0) { %>
		<div class='alert alert-success' style='margin-bottom: 0;' role='alert'> <%- success %></div>
		<% } %>
	</div>	
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-grid">
				<div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
					<ul>
						<li><a href="mailto:spargen.official@gmail.com"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>spargen.official@gmail.com</a></li>
						<li><a href="tel:+918890232339"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91 8890232339</a></li>
	                    <% if(!currentUser){ %>
	                    	<li><a href="/register"><i class="glyphicon glyphicon-book" aria-hidden="true"></i>Register</a></li>
	                        <li><a href="/login"><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>Login</a></li>
	                    <% } else { %>
	                        <li><a href="/profile"><%= currentUser.username %></a></li>
	                        <li><a href="/logout">Logout</a></li>
	                    <% } %>
					</ul>
				</div>
				<div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
					<ul class="social-icons">
						<li><a href="www.facebook.com/spargen" class="facebook"></a></li>
						<li><a href="www.twitter.com/spargen" class="twitter"></a></li>
						<li><a href="www.instagram.com/spargen" class="instagram"></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="logo-nav">
				<div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
					<h1><a href="/">SparGen <span>Best Deals</span></a></h1>
				</div>
				<div class="logo-nav-left1">
					<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div> 
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/" class="act">Home</a></li>	
							<!-- Mega Menu -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Xiomi Templates <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Mi A series</h6>
												<li><a href="products.html">Mi a1</a></li>
												<li><a href="products.html">Mi a2</a></li>
												<li><a href="products.html">Mi a3</a></li>
												<li><a href="products.html">Mi a4</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Mi Note Series</h6>
												<li><a href="products.html">Redmi Note 4</a></li>
												<li><a href="products.html">Redmi Note 5</a></li>
												<li><a href="products.html">Redmi Note 5 Pro</a></li>
												<li><a href="products.html">Redmi Note 6</a></li>
										
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6> Mi Max Series</h6></h6>
												<li><a href="products.html">Mi Max 1</a></li>
												<li><a href="products.html">Mi Max 2</a></li>
												<li><a href="products.html">Mi Max 3</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sumsung Templates<b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Samsung Galaxy J series</h6>
												<li><a href="furniture.html">Samsung J5</a></li>
												<li><a href="furniture.html">Samsung J6</a></li>
												<li><a href="furniture.html">Samsung J7</a></li>
												<li><a href="furniture.html">Samsung J8</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Samsung Galaxy On Series</h6>
												<li><a href="furniture.html">Samsung Galaxy On3</a></li>
												<li><a href="furniture.html">Samsung Galaxy On4</a></li>
												<li><a href="furniture.html">Samsung Galaxy On5</a></li>
												<li><a href="furniture.html">Samsung Galaxy On6</a></li>
											
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Samsung Galaxy Note Series</h6>
												<li><a href="furniture.html">Samsung Galaxy Note 4</a></li>
												<li><a href="furniture.html">Samsung Galaxy Note 5</a></li>
												<li><a href="furniture.html">Samsung Galaxy Note 6</a></li>
												<li><a href="furniture.html">Samsung Galaxy Note 7</a></li>
												
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li><a href="mail.html">Contact Us</a></li>
						</ul>
					</div>
					</nav>
				</div>
				<div class="logo-nav-right">
					<div class="search-box">
						<div id="sb-search" class="sb-search">
							<form method='GET'>
								<input class="sb-search-input" placeholder="Search Products..." name='search' type="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
					</div>
						<!-- search-scripts -->
						<script src="js/classie.js"></script>
						<script src="js/uisearch.js"></script>
							<script>
								new UISearch( document.getElementById( 'sb-search' ) );
							</script>
						<!-- //search-scripts -->
				</div>
				<div class="header-right">
					<div class="cart box_1">
						<a href="/checkout">
							<h3> <div class="total">
								<span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"><%= session.cart.totalQty%></span> items)</div>
								<img src="images/bag.png" alt="" />
							</h3>
						</a>
						<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
						<div class="clearfix"> </div>
					</div>	
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //header -->