<!DOCTYPE html>
<html>

	<head>
		<title>Spargen- spark for the generation</title>
		<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="add our site keywords " />
		<!-- //for-mobile-apps -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<!--<link href="/css/style.css" rel="stylesheet" media="all" />-->
		<link href="/css/custom.css" rel="stylesheet" media="all" />
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='/images/spargen-logo.jpg' rel='icon'>
		<!-- js -->
		<script type="application/x-javascript">
			addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);

			function hideURLbar() { window.scrollTo(0, 1); }
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="/js/script.js"></script>
		<!--<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>-->
		<script>
			new WOW().init();
		</script>

		<!-- js -->
		<!-- cart -->
		<script src="/js/simpleCart.min.js"></script>
		<!-- cart -->
		<!-- timer -->
		<link rel="stylesheet" href="/css/jquery.countdown.css" />
		<!-- timer -->
		<!-- animation-effect -->
		<link href="/css/animate.min.css" rel="stylesheet">
		<script src="/js/wow.min.js"></script>
		<!-- animation-effect -->
	</head>

	<body>
		<!-- flash messsages start-->
		<div class="container">
			<% if(error && error.length > 0){ %>
				<div class='alert alert-danger mb-0' role='alert'>
					<%- error %>
				</div>
				<% } %>
					<% if(success && success.length > 0) { %>
						<div class='alert alert-success mb-0' role='alert'>
							<%- success %>
						</div>
						<% } %>
		</div>
		<!--flash messsages end-->
		<div class="container">
			<!--top header start-->
			<div class="py-1">
				<div class=" d-inline animated wow slideInLeft" data-wow-delay=".5s">
					<ul class="d-inline list-unstyled list-inline ">
						<li class='list-inline-item'><a href="mailto:spargen.official@gmail.com"><i class="fas px-1 fa-envelope " aria-hidden="true"></i>spargen.official@gmail.com</a></li>
						<li class='list-inline-item'><a href="tel:+918890232339"><i class="fas px-1  fa-phone" aria-hidden="true"></i>+91 8890232339</a></li>
						<% if(!currentUser){ %>
							<li class='list-inline-item'><a href="/register"><i class="fas  px-1 fa-user-plus" aria-hidden = 'true'></i>Register</a></li>
							<li class='list-inline-item'><a href="/login"><i class="fas  px-1 fa-sign-in-alt" aria-hidden = 'true'></i></i>Login</a></li>
							<% } else { %>
								<li class='list-inline-item'><a href="/profile/<%= currentUser._id %>"><i class="fas fa-user-alt" aria-hidden = 'true'></i> My Account</a></li>
								<li class='list-inline-item'><a href="/logout">Logout</a></li>
								<% } %>
					</ul>
				</div>
				<div class="d-inline float-right animated wow slideInRight" data-wow-delay=".5s">
					<ul class="d-inline list-unstyled list-inline">
						<li class='list-inline-item'><a href="https://www.twitter.com/spargen" target='_blank'><i class="fab fa-twitter"></i></a></li>
						<li class='list-inline-item'><a href="https://www.facebook.com/spargen" target='_blank' class="fab fa-facebook"></a></li>
						<li class='list-inline-item'><a href="https://www.instagram.com/spargen" target='_blank' class="fab fa-instagram"></a></li>
						<li class='list-inline-item'><a href="https://www.linkedin.com/company/spargen" target='_blank' class="fab fa-linkedin"></a></li>
					</ul>
				</div>
				<!--<div class="clearfix"> </div>-->
			</div>
			<!--top header end-->
		</div>
		<!--nav header start-->
		<div class="animated wow zoomIn" data-wow-delay=".5s">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
				<a class="navbar-brand ml-lg-5" href="/">
							  	SparGen 
							  </a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
							    <span class="navbar-toggler-icon"></span>
							  </button>

				<div class="collapse navbar-collapse" id="navbarContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item ">
							<a class="nav-link pt-1" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link pt-1" href="/products">Products</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pt-1" href="/blogs">Blogs</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link pt-1" href="/contact">Contact Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pt-1" href="/about">About Us</a>
						</li>
					</ul>
					<form class="form-inline pt-1 mr-lg-5" action='/products/' method='get'>
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</nav>
			<div class="clearfix"> </div>
		</div>
		<!--nav header ends-->
