<% include ./partials/header %>

<div class='container'>
    <h1 class='py-2'>oops... you made a mistake.</h1>
    <h1 class='pb-2'>please search with another keyword</h1>
</div>
<br>
<br>
<br>


<% include ./partials/footer %>