<% include ./partials/header %>
<!-- banner -->
<!--corousel start-->
<div >
	<!--<div class="container">-->
	<!--	<div class="banner-info animated wow zoomIn" data-wow-delay=".5s">-->
	<!--		<h3>Free Online Shopping</h3>-->
	<!--		<h4>Up to <span>50% <i>Off/-</i></span></h4>-->
	<!--		<div class="wmuSlider example1">-->
	<!--			<div class="wmuSliderWrapper">-->
	<!--				<article style="position: absolute; width: 100%; opacity: 0;"> -->
	<!--					<div class="banner-wrap">-->
	<!--						<div class="banner-info1">-->
	<!--							<p>T-Shirts + Formal Pants + Jewellery + Cosmetics</p>-->
	<!--						</div>-->
	<!--					</div>-->
	<!--				</article>-->
	<!--				<article style="position: absolute; width: 100%; opacity: 0;"> -->
	<!--					<div class="banner-wrap">-->
	<!--						<div class="banner-info1">-->
	<!--							<p>Toys + Furniture + Lighting + Watches</p>-->
	<!--						</div>-->
	<!--					</div>-->
	<!--				</article>-->
	<!--				<article style="position: absolute; width: 100%; opacity: 0;"> -->
	<!--					<div class="banner-wrap">-->
	<!--						<div class="banner-info1">-->
	<!--							<p>Tops + Books & Media + Sports</p>-->
	<!--						</div>-->
	<!--					</div>-->
	<!--				</article>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--			<script src="js/jquery.wmuSlider.js"></script> -->
	<!--			<script>-->
	<!--				$('.example1').wmuSlider();         -->
	<!--			</script> -->
	<!--	</div>-->
	<!--</div>-->
	<div class="container">
		<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselIndicators" data-slide-to="2"></li>
		    <li data-target="#carouselIndicators" data-slide-to="3"></li>
		  </ol>
		  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img class="d-block w-100" src="/images/banner.jpg" alt="First slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="/images/banner.jpg" alt="Second slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="/images/banner.jpg" alt="Third slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="/images/banner.jpg" alt="Third slide">
			    </div>
		  	
		  </div>
		  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</div>
<!-- corousel ends -->
<!-- banner bottom start -->
<!--<div class="banner-bottom">-->
<!--	<div class="container"> -->
		<!--<div class="banner-bottom-grids">-->
		<!--	<div class="banner-bottom-grid-left animated wow slideInLeft" data-wow-delay=".5s">-->
		<!--		<div class="grid">-->
		<!--			<figure class="effect-julia">-->
		<!--				<img src="images/4.jpg" alt=" " class="img-responsive" />-->
		<!--				<figcaption>-->
		<!--					<h3>Spar <span>Gen</span><i> Best Deals Available</i></h3>-->
		<!--					<div>-->
		<!--						<p>Cupidatat non proident, sunt</p>-->
		<!--						<p>Officia deserunt mollit anim</p>-->
		<!--						<p>Laboris nisi ut aliquip consequat</p>-->
		<!--					</div>-->
		<!--				</figcaption>			-->
		<!--			</figure>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--	<div class="banner-bottom-grid-left1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--		<div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">-->
		<!--			<div class="banner-bottom-grid-left-grid1">-->
		<!--				<img src="images/1.jpg" alt=" " class="img-responsive" />-->
		<!--			</div>-->
		<!--			<div class="banner-bottom-grid-left1-pos">-->
		<!--				<p>Discount 45%</p>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">-->
		<!--			<div class="banner-bottom-grid-left-grid1">-->
		<!--				<img src="images/2.jpg" alt=" " class="img-responsive" />-->
		<!--			</div>-->
		<!--			<div class="banner-bottom-grid-left1-position">-->
		<!--				<div class="banner-bottom-grid-left1-pos1">-->
		<!--					<p>Latest New Collections</p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--	<div class="banner-bottom-grid-right animated wow slideInRight" data-wow-delay=".5s">-->
		<!--		<div class="banner-bottom-grid-left-grid grid-left-grid1">-->
		<!--			<div class="banner-bottom-grid-left-grid1">-->
		<!--				<img src="images/3.jpg" alt=" " class="img-responsive" />-->
		<!--			</div>-->
		<!--			<div class="grid-left-grid1-pos">-->
		<!--				<p>top and classic designs <span>2016 Collection</span></p>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--	<div class="clearfix"> </div>-->
		<!--</div>-->
<!--		<div class="row">-->
<!--			<div class="col-md-4">-->
<!--				<div class="">-->
					
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
	
<!--	</div>-->
<!--</div>-->
<!-- banner-bottom  ends-->
<!-- collections -->
<div class="new-collections">
	<div class="container">
		<h3 class="animated wow zoomIn" data-wow-delay=".5s">New Collections</h3>
		<p class="est animated wow zoomIn" data-wow-delay=".5s">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
			deserunt mollit anim id est laborum.</p>
		<!--<div class="new-collections-grids">-->
		<!--	<div class="row mt-2">-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="clearfix"> </div>-->
		<!--	</div>		-->
		<!--	<div class="row mt-2">-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="clearfix"> </div>-->
		<!--	</div>		-->
		<!--	<div class="row mt-2">-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-md-3 new-collections-grid">-->
		<!--			<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">-->
		<!--				<div class="new-collections-grid1-image">-->
		<!--					<a href="single.html" class="product-image"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>-->
		<!--					<div class="new-collections-grid1-image-pos">-->
		<!--						<a href="single.html">Quick View</a>-->
		<!--					</div>-->
							<!--rating starts-->
		<!--					<div class="new-collections-grid1-right">-->
		<!--						<div class="rating">-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/2.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="rating-left">-->
		<!--								<img src="images/1.png" alt=" " class="img-responsive" />-->
		<!--							</div>-->
		<!--							<div class="clearfix"> </div>-->
		<!--						</div>-->
		<!--					</div>-->
							<!--rating ends-->
		<!--				</div>-->
		<!--				<h4><a href="single.html">Formal Shirt</a></h4>-->
		<!--				<p>Vel illum qui dolorem eum fugiat.</p>-->
		<!--				<div class="new-collections-grid1-left simpleCart_shelfItem">-->
		<!--					<p><i>$325</i> <span class="item_price">$250</span><a class="item_add" href="#">add to cart </a></p>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="clearfix"> </div>-->
		<!--	</div>		-->
		<!--</div>-->
		<div class="row d-flex flex-wrap">
			<% products.forEach((product) => { %>
				<div class="col-md-3 m-1 col-xs-12">
					<div class="card" style="width: 18rem;">
					  <img class="card-img-top" src="<%= product.image %>" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title text-center"> <%= product.name %></h5>
					    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
					    <a href="/products/<%= product._id %>" class="btn btn-warning w-80 mx-auto"> View </a>
					  </div>
					</div>
				</div>
			<% }) %>
		</div>
		<div class='p-4 mx-auto animated wow zoomIn'>
			<a href="/products" class='btn btn-warning btn-lg'> View More</a>
		</div>
	</div>
</div>
<!-- collections ends-->
<!-- blogs start -->
<!--<div class="timer">-->
<!--	<div class="container">-->
<!--		<div class="blogs-grids"> -->
		<!--timer-grids class-->
			<!--<div class="col-md-8 timer-grid-left animated wow slideInLeft" data-wow-delay=".5s">-->
			<!--	<h3><a href="products.html">sunt in culpa qui officia deserunt mollit</a></h3>-->
			<!--	<div class="rating">-->
			<!--		<div class="rating-left">-->
			<!--			<img src="images/2.png" alt=" " class="img-responsive" />-->
			<!--		</div>-->
			<!--		<div class="rating-left">-->
			<!--			<img src="images/2.png" alt=" " class="img-responsive" />-->
			<!--		</div>-->
			<!--		<div class="rating-left">-->
			<!--			<img src="images/2.png" alt=" " class="img-responsive" />-->
			<!--		</div>-->
			<!--		<div class="rating-left">-->
			<!--			<img src="images/2.png" alt=" " class="img-responsive" />-->
			<!--		</div>-->
			<!--		<div class="rating-left">-->
			<!--			<img src="images/1.png" alt=" " class="img-responsive" />-->
			<!--		</div>-->
			<!--		<div class="clearfix"> </div>-->
			<!--	</div>-->
			<!--	<div class="new-collections-grid1-left simpleCart_shelfItem timer-grid-left-price">-->
			<!--		<p><i>$580</i> <span class="item_price">$550</span></p>-->
			<!--		<h4>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,-->
			<!--			nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit -->
			<!--			qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui -->
			<!--			dolorem eum fugiat quo voluptas nulla pariatur.</h4>-->
			<!--		<p><a class="item_add timer_add" href="#">add to cart </a></p>-->
			<!--	</div>-->
			<!--	<div id="counter"> </div>-->
			<!--	<script src="js/jquery.countdown.js"></script>-->
			<!--	<script src="js/script.js"></script>-->
			<!--</div>-->
			<!--<div class="col-md-4 timer-grid-right animated wow slideInRight" data-wow-delay=".5s">-->
			<!--	<div class="timer-grid-right1">-->
			<!--		<img src="images/17.jpg" alt=" " class="img-responsive" />-->
			<!--		<div class="timer-grid-right-pos">-->
			<!--			<h4>Special Offer</h4>-->
			<!--		</div>-->
			<!--	</div>-->
			<!--</div>-->
<!--			<div class="row">-->
<!--				<div class="col-md-3 timer-grid-left animated wow slideInLeft" data-wow-delay=".5s">-->
<!--					<h3><a href="products.html">sunt in culpa qui officia deserunt mollit</a></h3>-->
<!--				</div>-->
<!--				<div class="col-md-3 timer-grid-left animated wow slideInLeft" data-wow-delay=".5s">-->
<!--					<h3><a href="products.html">sunt in culpa qui officia deserunt mollit</a></h3>-->
<!--				</div>-->
<!--				<div class="col-md-3 timer-grid-left animated wow slideInLeft" data-wow-delay=".5s">-->
<!--					<h3><a href="products.html">sunt in culpa qui officia deserunt mollit</a></h3>-->
<!--				</div>-->
<!--				<div class="col-md-3 timer-grid-left animated wow slideInLeft" data-wow-delay=".5s">-->
<!--					<h3><a href="products.html">sunt in culpa qui officia deserunt mollit</a></h3>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="clearfix"> </div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!-- blog ends -->
<!-- collections-bottom start -->
<div class="collections-bottom">
	<div class="container">
		<div class="collections-bottom-grids">
			<div class="collections-bottom-grid animated wow slideInLeft" data-wow-delay=".5s">
				<h3>45% Offer For <span>Women & Children's</span></h3>
			</div>
		</div>
		<div class="newsletter animated wow slideInUp pt-2" data-wow-delay=".5s">
			<h3>Newsletter</h3>
			<p>Join us now to get all news and special offers.</p>
			<form>
				<span class="fas fa-envelope fa-2x px-2" aria-hidden="true"></span>
				<input type="email" value="Enter your email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email address';}" required="">
				<input type="submit" value="Join Us" >
			</form>
		</div>
	</div>
</div>
<!-- collections-bottom ends-->
<% include ./partials/footer %>