<% include ../partials/header %>
	<!--load ckeditor-->
	<script src="https://cdn.ckeditor.com/4.11.3/basic/ckeditor.js"></script>
	<script>
		CKEDITOR.replace('description');
	</script>
	<!-- breadcrumbs start -->
	<nav aria-label="breadcrumb">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item"><a href="/products">Products</a></li>
				<li class="breadcrumb-item active" aria-current="page">Add Product</li>
			</ol>
		</div>
	</nav>
	<!-- breadcrumbs ends-->


	<!-- add product -->
	<section class="">
		<h1 class="animated wow zoomIn text-center py-3" data-wow-delay=".5s">Add a Product</h1>
		<div class="container">
			<p class="est animated wow zoomIn text-center" data-wow-delay=".5s">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div class="row pt-4 pb-3">
				<div class="col-md-8 mx-auto">
					<!--<h2 class="animated wow slideInUp text-center pt-2 pb-4" data-wow-delay=".5s">Product information</h2>-->
					<form class="animated wow slideInUp" data-wow-delay=".5s" method='post' action='/products/' enctype="multipart/form-data">
						<div class="form-group">
							<label for="company">Product Company: </label>
							<input type="text" id='company' placeholder="Company of product" name='product[company]' class='form-control' required>
						</div>
						<div class="form-group">
							<label for="model">Model:</label>
							<input type="text" placeholder="Model" id='model' class='form-control' name='product[model]' required>
						</div>
						<div class="form-group">
							<label for="name">Name:</label>
							<input type="text" placeholder="Name of Product" id='name' name='product[name]' class='form-control' required>
						</div>
						<div class="form-group">
							<label for="mrp">Max retail Price:</label>
							<input type="number" placeholder='Max Retail Price of Product' id='mrp' name='product[printed_price]' class='form-control' required>
						</div>
						<div class="form-group">
							<label for="discount">Discounted Price:</label>
							<input type="number" placeholder="Discounted price of Product" id='discount' name='product[discounted_price]' class='form-control' required>
						</div>
						<div class="form-group">
							<label for="seller">Name of Seller</label>
							<input type="text" placeholder="seller Name" id='seller' name='product[sellerName]' class='form-control' required>
						</div>
						<div class="form-group">
							<label for="sellerPin">Pin Code Of Seller:</label>
							<input type="number" placeholder="pin code of seller" id='sellerPin' name='product[pinCode]' class='form-control' required>
						</div>
						<div class="form-group">
							<label for="category">Category: </label>
							<select multiple class="form-control" id="category">
						      <option>1</option>
						      <option>2</option>
						      <option>3</option>
						      <option>4</option>
						      <option>5</option>
						    </select>
						</div>
						<div class="form-group">
							<label for="image">Product Image:</label>
							<input type='file' name='product[image]' id='image' class='form-control-file' accept='image/*'>
						</div>

						<div class="form-group">
							<label for="description">Description: </label>
							<textarea name="product[description]" placeholder='Description of product' id='description' cols="30" rows="10" class='form-control'>
								</textarea>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>

			</div>
			<div class="py-4 animated text-center wow slideInUp" data-wow-delay=".5s">
				<a href="/" class='px-4 py-2 bg-warning'>Go To Home</a>
			</div>

		</div>
	</section>
	<% include ../partials/footer %>
